@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.chatbox_controller {
  font-family: 'Poppins', sans-serif;
  width: auto;
  padding: 0 40px;
  height: 56px;
  position: absolute;
  bottom: 30px;
  right: 40px; }
  .chatbox_controller__button-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .chatbox_controller__label {
    border-radius: 20px 20px 0 20px;
    box-shadow: 0 2px 6px 0 #c6c9cd;
    border: solid 0.6px #ff6f26;
    background-color: #ffffff;
    padding: 0 40px; }
  .chatbox_controller__icon-holder {
    width: 56px;
    height: 56px;
    padding: 9px;
    border-radius: 22.5px;
    box-shadow: 0 2px 6px 0 #c6c9cd;
    background-color: #ff6f26;
    margin-left: 5px;
    cursor: pointer; }
  .chatbox_controller__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    height: 56px; }
    .chatbox_controller__inner:hover {
      cursor: pointer; }
    .chatbox_controller__inner span {
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #253342; }
      .chatbox_controller__inner span span {
        margin-left: 1px; }

.chatbox {
  font-family: 'Poppins', sans-serif;
  width: 480px;
  height: 648px;
  margin: 24px 0 40px 77px;
  opacity: 0.8;
  border-radius: 20px;
  box-shadow: 4px 4px 12px 0 #c6c9cd, -4px -4px 12px 0 #ecf0f2;
  margin-left: 344px;
  position: absolute;
  right: 40px;
  bottom: 30px; }
  .chatbox__header {
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    padding: 0 36px;
    flex-wrap: nowrap;
    position: relative; }
    .chatbox__header img {
      width: 54px;
      height: 54px; }
    .chatbox__header > div {
      margin-left: 16px;
      display: flex;
      justify-content: space-between;
      width: 100%; }
    .chatbox__header__title {
      font-weight: bold;
      font-size: 22px;
      display: block;
      color: #253342; }
    .chatbox__header__status {
      font-size: 18px;
      font-weight: 600;
      display: block;
      color: #5f6b76;
      line-height: 26px;
      display: inline-block; }
      .chatbox__header__status div {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
        margin-left: 13px; }
      .chatbox__header__status .online {
        background-color: #00e96e; }
    .chatbox__header__icons {
      display: flex;
      align-items: center; }
      .chatbox__header__icons img {
        margin-left: 24px;
        height: 24px;
        width: 24px; }
        .chatbox__header__icons img:hover {
          cursor: pointer; }
    .chatbox__header__menu {
      width: 182px !important;
      height: 157px;
      padding: 20px 45px 24px 24px;
      border-radius: 16px;
      box-shadow: 0 8px 16px 0 rgba(235, 235, 235, 0.5);
      background-color: #ffffff;
      position: absolute;
      top: 80px;
      right: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      z-index: 99; }
      .chatbox__header__menu div {
        height: 36px;
        display: flex;
        align-items: center; }
        .chatbox__header__menu div:hover {
          cursor: pointer; }
      .chatbox__header__menu img {
        width: 16px;
        height: 16px;
        margin-left: 7px;
        margin-right: 6px; }
      .chatbox__header__menu span {
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: normal;
        color: #5f6b76; }
  .chatbox__messagebox {
    background-color: #F9FAFB;
    width: 100%;
    height: 458px;
    padding: 24px;
    overflow: auto;
    position: relative; }
    .chatbox__messagebox__incomingmessage {
      max-width: 330px;
      height: auto;
      padding: 16px 24px;
      border-radius: 20px 20px 20px 0;
      border: solid 1px rgba(0, 186, 252, 0.4);
      background-color: rgba(0, 186, 252, 0.1);
      white-space: normal;
      word-break: break-word;
      margin-bottom: 12px;
      float: left; }
      .chatbox__messagebox__incomingmessage span {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #253342; }
    .chatbox__messagebox__outgoingmessage {
      max-width: 330px;
      height: auto;
      padding: 16px 24px;
      border-radius: 20px 20px 0 20px;
      border: solid 1px #ecf0f2;
      background-color: rgba(255, 255, 255, 0.9);
      white-space: normal;
      word-break: break-word;
      float: right;
      margin-bottom: 12px;
      text-align: right; }
      .chatbox__messagebox__outgoingmessage:hover {
        border: solid 1px #00BAFC; }
      .chatbox__messagebox__outgoingmessage span {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #253342; }
    .chatbox__messagebox .chat-bubble {
      background-color: rgba(0, 186, 252, 0.1);
      padding: 16px 28px;
      -webkit-border-radius: 20px;
      -webkit-border-bottom-left-radius: 2px;
      -moz-border-radius: 20px;
      -moz-border-radius-bottomleft: 2px;
      border-radius: 20px;
      border-bottom-left-radius: 2px;
      display: inline-block;
      position: absolute;
      bottom: 10px;
      left: 24px; }
      .chatbox__messagebox .chat-bubble .typing {
        align-items: center;
        display: flex;
        height: 17px; }
        .chatbox__messagebox .chat-bubble .typing .dot {
          animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
          background-color: rgba(0, 186, 252, 0.7);
          border-radius: 50%;
          height: 7px;
          margin-right: 4px;
          vertical-align: middle;
          width: 7px;
          display: inline-block; }
        .chatbox__messagebox .chat-bubble .typing .dot:nth-child(1) {
          animation-delay: 200ms; }
        .chatbox__messagebox .chat-bubble .typing .dot:nth-child(2) {
          animation-delay: 300ms; }
        .chatbox__messagebox .chat-bubble .typing .dot:nth-child(3) {
          animation-delay: 400ms; }
        .chatbox__messagebox .chat-bubble .typing .dot:last-child {
          margin-right: 0; }

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: rgba(0, 186, 252, 0.7); }
  28% {
    transform: translateY(-7px);
    background-color: rgba(0, 186, 252, 0.4); }
  44% {
    transform: translateY(0px);
    background-color: rgba(0, 186, 252, 0.2); } }
  .chatbox__messageinput {
    height: auto;
    width: 100%;
    min-height: 80px;
    padding: 11px 16px 13px 16px;
    border-radius: 0 0 20px 20px;
    border: solid 1px #ecf0f2;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative; }
    .chatbox__messageinput input {
      width: 100%;
      height: auto;
      min-height: 54px;
      padding: 0 60px 0 24px;
      border-radius: 20px;
      border: solid 1px #ecf0f2;
      background-color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #253342; }
      .chatbox__messageinput input:focus {
        outline: none;
        border: solid 1px #1e52b6; }
      .chatbox__messageinput input ::placeholder {
        color: #8e9fad; }
    .chatbox__messageinput .message-input-send-icon {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      transform: translate(-50%, -50%);
      right: 28px; }
      .chatbox__messageinput .message-input-send-icon:hover {
        cursor: pointer; }
  .chatbox__debugger {
    position: absolute;
    width: 300px;
    height: 648px;
    padding: 0 0 216px;
    top: 0;
    left: -324px;
    border-radius: 20px;
    box-shadow: 4px 4px 12px 0 #c6c9cd, -4px -4px 12px 0 #ecf0f2;
    background-color: #F9FAFB; }
    .chatbox__debugger__header {
      width: 300px;
      height: 80px;
      padding: 24px 35px 24px 36px;
      object-fit: contain;
      border-radius: 20px 20px 0 0;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .chatbox__debugger__header span {
        font-size: 22px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: normal;
        color: #253342; }
      .chatbox__debugger__header img {
        width: 25px;
        height: 25px; }
        .chatbox__debugger__header img:hover {
          cursor: pointer; }
    .chatbox__debugger__main {
      padding: 24px 32px; }
      .chatbox__debugger__main__submenu {
        margin-bottom: 30px; }
        .chatbox__debugger__main__submenu span {
          font-size: 16px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          padding-bottom: 4px;
          color: #253342;
          opacity: .45;
          margin-right: 16px;
          display: inline-block; }
          .chatbox__debugger__main__submenu span:hover {
            cursor: pointer; }
        .chatbox__debugger__main__submenu .active {
          opacity: 1; }
          .chatbox__debugger__main__submenu .active::after {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-color: #1e52b6; }
      .chatbox__debugger__main__content__title {
        display: block;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
        color: #253342;
        margin-bottom: 12px; }
      .chatbox__debugger__main__content__subtitle {
        display: block;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #5f6b76;
        margin-bottom: 8px; }
      .chatbox__debugger__main__content__list {
        list-style-position: inside;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #5f6b76;
        margin-bottom: 38px; }
        .chatbox__debugger__main__content__list li {
          cursor: pointer; }
        .chatbox__debugger__main__content__list .active {
          color: #00BAFC; }
      .chatbox__debugger__main__content__text {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #5f6b76; }

.white-bg {
  background-color: #fff; }

.test {
  color: red; }

.icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  display: inline-block; }
  .icon use {
    display: inline-block;
    width: inherit;
    height: inherit; }
  .icon.icon-xl {
    font-size: 50px;
    width: 50px;
    height: 50px; }
  .icon.icon-large {
    font-size: 38px;
    width: 38px;
    height: 38px; }
  .icon.icon-medium {
    font-size: 32px;
    width: 32px;
    height: 32px; }
  .icon.icon-small {
    font-size: 16px;
    width: 16px;
    height: 16px; }
  .icon.icon-mini {
    font-size: 12px;
    width: 12px;
    height: 12px; }
